<%-include('sidepanel') -%>

<head>

    <title>salesReport</title>

<style>
    
h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
table{
  width:100%;
  table-layout: fixed;
  color: #0a0a0a;

}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  height:500px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 20px 15px;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  color: #0a0a0a;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: center;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #0d0d0d;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}


/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  font-family: 'Roboto', sans-serif;
}

/* follow me template */
.made-with-love {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff;
}
.made-with-love i {
  font-style: normal;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: #fff;
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
.form-control.search-input {
    width: 200px; 
    margin-left: auto ;
    margin-bottom: 10px;
  }
  .form-control.search-input:focus {
    outline: none;
    border-color: #a9acaf; 
    box-shadow: 0 0 10px rgba(80, 83, 86, 0.3); 
  }
  #wrap{
    margin-left: 2%;
  }
  div.dataTables_filter input {
    margin-right: 2.6em;
    display: inline-block;
    width: 1%;}
</style>
 <!-- DataTable HEADER-->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
</head>
<!-- Page Wrapper -->
        <h1>Sales Report</h1>
 
    <table id="example" class="table table-striped" style="width:97%;margin-left: 1.5%;   border: 1px solid black;font-size: 10em; font-weight: bolder;"
    >
        <thead>
          <tr>
            <th style="width: 2%;">ID</th>
            <th>User ID</th>
            <th>User Name</th>
            <th>Total Quantity</th>
            <th>Total Price</th>
            <th class="order" style="width: 40%; justify-items: center;">Order Details</th>
            <th>Payment Method</th>
            <th>Date</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody id="orderTableBody">
          <% orders.forEach((order, index) => { %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= generateUniqueID() %></td>
              <td><%= order.username %></td>
              <td><%= order.totalQuantity %></td>
              <td>₹<%= order.totalPrice.toFixed(2) %></td>
              <td>
                <% order.products.forEach((product) => { %>
                  <p><%= product.product %> - Quantity: <%= product.quantity %> - Price: <%= product.price %></p>
                <% }); %>
              </td>
              <td><%= order.paymentMethod %></td>
              <td><%= new Date(order.orderDate).toLocaleDateString('en-US', { day: 'numeric', month: 'short', year: 'numeric' }) %></td>
              <td><%= order.status %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
        </div>
      </section>
      <script>
        $(window).on("load resize ", function() {
  var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
  $('.tbl-header').css({'padding-right':scrollWidth});
}).resize();
 
    function searchOrder() {
      const searchInput = document.getElementById('search').value;
  
      // Make an AJAX request to your server with the search query
      fetch(`/search?search=${searchInput}`)
        .then(response => response.json())
        .then(data => {
          // Update the table with the received data
          const orderTableBody = document.getElementById('orderTableBody');
  
          orderTableBody.innerHTML = ''; // Clear the existing table data
  
          data.forEach((order,index) => {
            const row = document.createElement('tr');
            row.innerHTML = `
              <td>${index + 1}</td>
              <td>${order.products[0]._id}</td>
              <td>${order.username}</td>
              <td>${order.totalQuantity}</td>
              <td>
                ${order.products
                  .map(
                    product =>
                      `<p>${product.product} - Quantity: ${product.quantity} - Price: ${product.price}</p>`
                  )
                  .join('')}
              </td>
              <td>${order.paymentMethod}</td>
              <td>${order.orderDate}</td>
              <td>${order.products[0].status}</td>
            `;
            orderTableBody.appendChild(row);
          });
        })
        .catch(error => {
          console.error('Error:', error);
        });
    }
  </script>
   <!-- DATATABLE  SCRIPT-->
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdn.datatables.net/v/bs5/dt-1.13.8/datatables.min.js"></script>  
<script>
   new DataTable('#example');
   
  </script>

