<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/userhome.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbs5apA/5UjP/J0sZWQ5l1Aq1oCfQdZUMz9mi5kFkoI" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/82fc123f21.js" crossorigin="anonymous"></script>
</head>

<body>
    <%-include('headerguest') %>

        <section>
            <!-- <div class="container mt-5">
          <div>
            <img src="../img/rado.jpeg" class="img">
            <img src="../img/second.png" class="img">

        </div>
   -->
            <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../img/rado.jpeg" class="d-block w-100  img" alt="First Slide" style="height: 35em;">
                    </div>
                    <div class="carousel-item">
                        <img src="../img/second.png" class="d-block w-100 img" alt="Second Slide">
                    </div>
                    <!-- Add more items as needed -->
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
                <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
            </div>

            <div class="row d-flex column-gap-4 ms-1 mt-1 mb-1">
                <h1>Best Sellers</h1>
                <% products.forEach(function(products) { %>
                    <div class="card col-lg-3 text-center " style="width: 30%; height: 30%; margin: 10px 0.8%;">

                        <img src="/uploads/<%= products.images[2] %>" style="width:100%;height: 400px ;" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= products.name %>
                            </h5>
                            <p class="card-text">
                                <%= products.category %>
                                    <%= products.description %>
                            </p>
                            <p class="card-text">Rs
                                <%= products.price %>
                            </p>


                            <!-- <a href="/user/productdesc/<%=products.id %>" class="btn btn-primary ">Buy Now</a> -->
                            <a href="/user/productdesc/<%=products.id %>" style="margin: 5px 0px;" class="btn btn-primary ">Buy Now </a>


                        </div>


                    </div>
                    <% }) %>
            </div>

            <!-- <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner" >
                    <div class="carousel-item active"> 
                      <img src="../img/first.png" class="d-block w-100  img" alt="First Slide"style="height: 35em;">
                    </div>
                    <div class="carousel-item">
                      <img src="../img/Guessbanner.png" class="d-block w-100 img" alt="Second Slide">
                    </div> -->
            <!-- Add more items as needed -->
            <!-- </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>-->
            <!-- </div> -->


            <div id="myCarousel1" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../img/first.png" class="d-block w-100 img" alt="First Slide">
                    </div>
                    <div class="carousel-item">
                        <img src="../img/Guessbanner.png" class="d-block w-100 img" alt="Second Slide">
                    </div>
                    <!-- Add more items as needed -->
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel1" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                <button class="carousel-control-next" type="button" data-bs-target="#myCarousel1" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
            </div>
            </div>
        </section>
        <%-include('footer') %>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-cbNnX8TlAW04CyT1GA9H2HYoyAHi8VV7nfdYRv2ftMh+AaPbTTfEWf5Eri1tv1Q5" crossorigin="anonymous"></script>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
            <script>
                // Enable carousel auto-cycling and pause on hover
                $('#myCarousel1').carousel({
                    interval: 5000, // Time in milliseconds (adjust as needed)
                    pause: 'hover'
                });

                // Enable manual control
                $('.carousel-control-prev').click(function() {
                    $('#myCarousel1').carousel('prev');
                });

                $('.carousel-control-next').click(function() {
                    $('#myCarousel1').carousel('next');
                });
            </script>
            <script>
                document.addEventListener('DOMContentLoaded', () => {
                    const addToCartButton = document.getElementById('addToCartButton');

                    addToCartButton.addEventListener('click', () => {
                        // Simulate adding an item to the cart by making a POST request
                        // const productid = "658e08ea245941d0ca988f87"; 
                        // const userid = "658e0d64245941d0ca988fa8";    

                        const productid = button.getAttribute('data-product-id');
                        const userid = button.getAttribute('data-user-id');
                        console.log('Product ID:', productid);
                        console.log('User ID:', userid);
                        // fetch('/add-to-cart', {
                        fetch(`/addtocart/${productId}/${userId}`, {

                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                },
                                body: JSON.stringify({
                                    productid,
                                    userid
                                }),
                            })
                            .then(response => {
                                if (response.ok) {
                                    console.log('Item added to cart successfully!');
                                } else {
                                    console.error('Failed to add item to cart');
                                }
                            })
                            .catch(error => {
                                console.error('Error:', error);
                            });
                    });
                });
            </script>

</body>

</html>