<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style> .right {
        display: flex;
        align-items: center;
        margin-left: auto;
    }
    
    .right form {
        margin-right: 10px;
        /* Adjust the margin as needed */
    }
    
    .right .nav-icons {
        display: flex;
        align-items: center;
    }
    
    .right .nav-item {
        margin-right: 10px;
        /* Adjust the margin as needed */
    }
    
    .form-control-header {
        width: 45px;
        height: 30px;
        border-radius: 20px;
        border: none;
        background: rgb(235, 235, 235);
    }
    
    .navbar {
        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    }
    
    @media screen and (min-width: 992px) {
        .navbar {
            padding-top: 0px;
            padding-bottom: 0px;
        }
        .navbar .nav-item {
            padding: .5rem .5rem;
            margin: 0 .25rem;
        }
    }
    /* Adjust the font size for specific icons */
    
    .fa-shopping-cart,
    .fa-user-circle,
    .fa-heart,.fa-wallet,
    .fa-sign-out {
        font-size: 28px;
        color: rgb(66, 95, 117);
    }
    
    .nav-link-header,
    .nameheader {
        font-size: 20px;
        color: black;
        font-weight: 600;
        text-decoration: none;
    }
    .cart-quantity {
        /* position: absolute; */
        top: -8px;
        right: -8px;
        background-color: red;
        color: white;
        font-size: 12px;
        padding: 2px 5px;
        border-radius: 50%;}</style>
    <link rel="stylesheet" href="/css/productdesc.css">
    <link rel="stylesheet" href="../css/userhome.css">

    <link rel="stylesheet" href="/css/footeruser.css">

    <script src="/prodesc.js"></script>



</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-light">
        <a class="navbar-brand" href="/home" style="color: black;font-size: 50px;margin-left: 2%;font-weight: 500;">TJ Watches</a>

        <a class="nav-link-header text-dark" href="/user/Mens" style="margin-left: 2%;">
            <!-- <i class="fa fa-male"></i> -->
            MEN
        </a>

        <a class="nav-link-header text-dark" href="/user/Women" style="margin-left: 2%;">
            <!-- <i class="fas fa-female" ></i> -->
            FEMALE
        </a>
        <!-- Your existing content -->

        <div class="right" style="margin-right: 3%;">
            <form class="form-inline my-2 my-lg-0">
                <!-- Your existing form content -->
            </form>
            <div style="float: left;">
                <a href="#" class="nav-item nameheader">Hi <%= name %></i>
                <a href="/user/wishlist/<%= userid %>" class="nav-item"><i class="fas fa-heart"></i></a>
                <a href="/user/cart/<%= userid %>" class="nav-item"><i class="fas fa-shopping-cart"></i></a>
                <a href="/user/wallet/<%= userid %>" class="nav-item "><i class="fa fa-wallet"></i></a>
                <a href="/profile" class="nav-item"><i class="fa fa-user-circle"></i></a>
                <a href="/userLogout" class="nav-item"><i class="fa fa-sign-out" aria-hidden="true"></i>
                </a>

            </div>
        </div>
    </nav>











    <div class="card-wrapper">
        <div class="card">
            <!-- card left -->
            <div class="product-imgs" style="height: 100%;">
                <div class="img-display">
                    <div class="img-showcase" id="productImage" style="height: 100%;">
                        <img class="product-image" src="/uploads/<%= dataproduct.images[0] %>" alt="image">
                        <img class="product-image" src="/uploads/<%= dataproduct.images[1] %>" alt="image">
                        <img class="product-image" src="/uploads/<%= dataproduct.images[2] %>" alt=" image">


                    </div>
                </div>
                <div class="img-select">
                    <div class="img-item" style="width: 50%;">
                        <a href="#" data-id="2">
              <img class="product-image" src = "/uploads/<%= dataproduct.images[1] %>" alt = " image" style="width: 100%; height: 70%;">
            </a>
                    </div>

                    <div class="img-item" style="width: 50%;">
                        <a href="#" data-id="3">
              <img class="product-image" src = "/uploads/<%= dataproduct.images[2] %>" alt = "image" style="width: 100%; height: 70%;" >
            </a>
                    </div>
                </div>
            </div>


            <!-- card right -->
            <div class="product-content">

                <h6 class="product-title">
                    <%= dataproduct.name %>
                </h6>
                <a href="#" class="product-link">visit TJ watches</a>


                <div class="product-rating size">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <span>Rating:<%= dataproduct.rating %></span>
                </div>


                <div class="product-price size">
                    <div id="zoom" class="zoom"></div>

                    <!-- <p class = "last-price">Old Price: <span>$257.00</span></p> -->
                    <p class="new-price size">New Price: <span>Rs <%= dataproduct.price %></span></p>
                </div>

                <div class="product-detail size">
                    <h1>About this item: </h1>
                    <h5>
                        <%= dataproduct.description %>
                    </h5>
                    <h5>This product is available exclusive in TJ watches</h5>
                    <ul>
                        <li class="size">Dial shape: <span><%= dataproduct.dialshape %></span></li>
                        <!-- <li>Available: <span>in stock</span></li> -->
                        <li class="size">Category: <span><%= dataproduct.category %></span></li>
                        <li class="size">Shipping Area: <span>All over the world</span></li>
                        <li class="size">Shipping Fee: <span>Free</span></li>
                    </ul>
                </div>


                <!-- <div class = "purchase-info">
          
          <button type = "button" class = "btn save">
            Add to Cart <i class = "fas fa-shopping-cart"></i>
          </button>
          <button type = "button" class = "btn save">Buy Now</button>
        </div> -->
                <div class="purchase-info">
                    <form action="/addtocart/<%=productid %>/<%= userid %>" method="POST">
                        <button type="submit" id="addToCartButton" class="btn save" data-product-id="<%= productid %>" data-user-id="<%= userid %>">Add to Cart</button>
                    </form>
                    <!-- <button type = "button" class = "btn save">Buy Now</button> -->
                </div>

            </div>
        </div>
    </div>
    </section>
    <%- include ('footer')%>
        <script>
            const imgs = document.querySelectorAll('.img-select a');
            const imgBtns = [...imgs];
            let imgId = 1;

            imgBtns.forEach((imgItem) => {
                imgItem.addEventListener('click', (event) => {
                    event.preventDefault();
                    imgId = imgItem.dataset.id;
                    slideImage();
                });
            });

            function slideImage() {
                const displayWidth = document.querySelector('.img-showcase img:first-child').clientWidth;

                document.querySelector('.img-showcase').style.transform = `translateX(${- (imgId - 1) * displayWidth}px)`;
            }

            window.addEventListener('resize', slideImage);




            document.addEventListener('DOMContentLoaded', function() {
                const productImages = document.querySelectorAll('.product-image');
                const zoomContainer = document.getElementById('zoom-container');
                const zoom = document.getElementById('zoom');

                productImages.forEach((image, index) => {
                    image.addEventListener('mousemove', function(e) {
                        const {
                            left,
                            top,
                            width,
                            height
                        } = image.getBoundingClientRect();
                        const x = e.clientX - left;
                        const y = e.clientY - top;

                        const zoomX = (x / width) * 100;
                        const zoomY = (y / height) * 100;

                        zoom.style.backgroundImage = `url('${image.src}')`;
                        zoom.style.backgroundSize = `${width *2.5}px ${height * 2}px`; // Adjust the zoom factor here

                        zoom.style.backgroundPosition = `${zoomX}% ${zoomY}%`;
                        zoom.style.display = 'block';
                    });

                    image.addEventListener('mouseleave', function() {
                        zoom.style.display = 'none';
                    });
                });
            });
        </script>
</body>

</html>